
.tile {
    background-color: #edeff1;
    width: 120px;
    aspect-ratio : 1 / 1;
    border-radius: 12%;
    border-bottom: 7px solid rgba(0,0,0,.1);
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    font-size: 16px;
    letter-spacing: .5px;
    margin: 4px;
    
    cursor: pointer;
    touch-action: none;
    padding: 10px;
}

.OldApp .tile {
    font-family: 'Oswald';
    text-transform: uppercase;
}

.App .tile {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.7);
    background-color: darkgray;
    width: 150px;
    aspect-ratio: 5/4;
}

@media screen and (max-width: 480px){
    .App .tile{
        width: 20%;
        aspect-ratio : 5/4;
        font-size: 12px;
    }
    .OldApp .tile {
        width: 20%;
        aspect-ratio : 1 / 1;
        font-size: 12px;
    }
}

.OldApp .red {
    background-color: #ff3c28;
    color: white;
}
.OldApp .blue {
    background-color: #0ab9e6;
    color: white;
}
.OldApp .purple {
    background-color: #b400e6;
    color: white;
}
.OldApp .orange {
    background-color: #ffa20089;
    color: white;
}
.OldApp .green {
    background-color: #1edc00;
    color: white;
}
.OldApp .pink {
    background-color: #ff3278;
    color: white;
}

.App .red {
    background-color: darkred;
    color: whitesmoke;
}
.App .blue {
    background-color: darkblue;
    color: whitesmoke;
}
.App .purple {
    background-color: purple;
    color: whitesmoke;
}
.App .orange {
    background-color: chocolate;
    color: whitesmoke;
}
.App .green {
    background-color: darkgreen;
    color: whitesmoke;
}
.App .pink {
    background-color: red;
    color: whitesmoke;
}

.highlight{
    box-shadow: rgb(233, 186, 58) 0px 5px 10px 10px;
}

#board {
    display: flex;
    flex-direction: column;
}

#row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#groups-and-swaps, #share{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin: 10px;
}

#groups-and-swaps span{
    font-family: 'Oswald';
    text-transform: uppercase;
    color: #6f7172;
}

.App #groups-and-swaps span {
    color: whitesmoke;
}

#progress li {
    font-family: 'Oswald';
    text-transform: uppercase;
    color: whitesmoke;
    border-radius: 10px;
    padding: 0;
    padding-left: 10px;
    max-width: 90%;
    margin: 0 auto;
}

#progress ul {
    padding: 0;
    list-style: none;
}

#progress p {
    letter-spacing: 1px;
    text-align: center;
}

#share {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
#share h1 {
    width: fit-content;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

#share h3 {
    color: whitesmoke;
}

.OldApp #share h3 {
    color: #6f7172
}

.OldApp #share h1 {
    background-color: lightgreen;
    color: #6f7172
}

.App #share h1{
    background-color: darkgreen;
    color: whitesmoke
}