
.tile {
    background-color: #edeff1;
    width: 120px;
    aspect-ratio : 1 / 1;
    border-radius: 12%;
    border-bottom: 7px solid rgba(0,0,0,.1);
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    font-size: 16px;
    letter-spacing: .5px;
    margin: 4px;
    
    font-family: 'Oswald';
    text-transform: uppercase;
    cursor: pointer;
    touch-action: none;
    /* border: 1px solid red; */
}

@media screen and (max-width: 480px){
    .tile {
        /* background-color: red; */
        width: 20%;
        aspect-ratio : 1 / 1;
        font-size: 10px;
    }
}

.red {
    background-color: #ff3c28;
    color: white;
}
.blue {
    background-color: #0ab9e6;
    color: white;
}
.purple {
    background-color: #b400e6;
    color: white;
}
.orange {
    background-color: #faa005;
    color: white;
}
.green {
    background-color: #1edc00;
    color: white;
}
.pink {
    background-color: #ff3278;
    color: white;
}

.highlight{
    box-shadow: rgb(233, 186, 58) 0px 3px 15px;
}

#board {
    /* touch-action: manipulation; */
    display: flex;
    flex-direction: column;
    /* border: #0ab9e6 solid 1px; */
}

#row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#groups-and-swaps, #share{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin: 10px;
}

#groups-and-swaps span{
    font-family: 'Oswald';
    text-transform: uppercase;
    color: #6f7172;
}

#progress li {
    font-family: 'Oswald';
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    padding: 0;
    padding-left: 10px;
    max-width: 90%;
    margin: 0 auto;
}

#progress ul {
    padding: 0;
    /* display: inline-block; */
}

#progress p {
    letter-spacing: 1px;
    text-align: center;
}

#share {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    margin-bottom: 20px;
}
#share h1 {
    width: fit-content;
    border: 2px solid #6f7172;
    background-color: lightgreen;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}