.home {
    margin: 20px;
}

.App h1 {
    color: #6ebf8b;
}

.puzzrow {
    display: flex;
    justify-content: space-between;
}

.puzzcol {
    display: flex;
    flex-direction: column;
}

#change {
    color: midnightblue;
    text-decoration: underline;
    cursor: pointer;
}