#page-info {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

#bottom-options {
    display: flex;
    justify-content: space-between;
}

#bottom-options p {
    margin: 10px;
    cursor: pointer;
}