.wrapper {
    display: flex;
    justify-content: center; 
}

#content {
    width: 650px;
    user-select: none;
    min-height: 100vh;
}

.App {
    background-color: #6f7172;
    color: #d8d4d4
}

.side-panel {
    flex-grow: 1;
    background-color: #d8d4d4;
}

.new-side-panel {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.75);
}

.OldApp h1, .App h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.OldApp {
    font-family: 'Oswald';
    color: #6f7172;
}

.App {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke
}

.OldApp p, h3 {
    color: #6f7172;
}

a:link, a:visited {
    color: midnightblue
}
a:hover {
    color: darkred
}