.wrapper {
    display: flex;
    justify-content: center; 
}

.App {
    width: 650px;
    /* touch-action: manipulation; */
    user-select: none;
    min-height: 100vh;
}

.side-panel {
    flex-grow: 1;
    background-color: #d8d4d4;
}

h1 {
    font-size: 1.5rem;
    color: #6f7172;
    text-align: center;
    font-family: 'Oswald';
    font-weight: bold;
    letter-spacing: 1px;
}

p,h3 {
    color: #6f7172;
    font-family: 'Oswald';
}